@{ ViewBag.PageTitle = "À propos de "; }
<div style="display:flex; align-items:center">
    <img src="~/WebApp.png" style="width:70px" />
    <h1>Wikimedia</h1>

</div>
<dl>
    <br />
    <dt>
        <br />
        Auteur
    </dt>

    <dd>
        Louis-James Leroux <br />
        Étudiant <br />
        Technique en informatique <br />
        Collège Lionel-Groulx <br />
    </dd>

</dl>